#**
 *  Called for each matching document but then
 *  calls one of product_doc, join_doc or richtext_doc
 *  depending on which fields the doc has
 *#

#set($docId = $doc.getFieldValue('id'))

<div class="result-document">
<div class="result-title"><b>$doc.getFieldValue('title')</b>
<span class="mlt">  
#if($params.getBool('mlt', false) == false)
    <a href="#lensNoQ&q=id:$docId&mlt=true">&Auml;hnliche Antr&auml;ge</a>
#end
</span>
</div>
 

## <div>Typ: #field('typ')</div>
## <div>Date: #field('Date')</div> 
## <div>Titel: #field('title')</div> 
## <div>Text: #field('text')</div> 
<div><span>#field('organ')</span><span>#field('unit')</span> <span>(#field('id'))</span></div> 
<div><span>#field('area')</span><span>#field('regelwerk')</span></div>  

<div>
<span>ja: #field('yes')</span> <span> (#field('yespercentage')%)</span> 
<span>nein: #field('no')</span> <span> (#field('nopercentage')%)</span> 
<span>Enthaltung: #field('abstention')</span> 
</div>
<div>#field('result')</div> 
<div>Konkurrierende Initiativen: #field('competinginitiatives')</div> 

<div> 
$doc.getFieldValue('bb').replace('[','<').replace(']','>')

## #field('bb').replace('[','<').replace(']','>')
</div> 
## <div>Bezirk: #field('bezirk')</div>
## <div>Partei: #field('partei')</div>
## <div>Status: <span class="#field('status')">#field('status')</span></div>
## <div>ALLRis: <a href="#field('url')"> #field('url') </a></div>
#parse('debug.vm')

</div>
