#**
 *  Called for each matching document but then
 *  calls one of product_doc, join_doc or richtext_doc
 *  depending on which fields the doc has
 *#

#set($docId = $doc.getFieldValue('id'))

#set($yespercentage = $doc.getFieldValue('yespercentage'))
#set($nopercentage = $doc.getFieldValue('nopercentage'))

<div class="result-document">
<div class="result-title"><b>$doc.getFieldValue('title')</b>
<span class="mlt">  
#if($params.getBool('mlt', false) == false)
    <a href="#lensNoQ&q=id:$docId&mlt=true">&Auml;hnliche Antr&auml;ge</a>
#end
</span>
</div>
 

## <div>Typ: #field('typ')</div>
## <div>Date: #field('Date')</div> 
## <div>Titel: #field('title')</div> 
## <div>Text: #field('text')</div> 
<div>
## <span>#field('organ')</span>
## <span>#field('unit')</span> 
<div>
<span>#field('area')</span>&mdash;<span>#field('regelwerk')</span>
</div>  
<span>#field('id')</span>
<span>(#field('result'))</span> 
<div>Konkurrierende Initiativen: #field('competinginitiatives')</div> 
</div> 

<div> 
<div>
    <div title="#field('yes')($yespercentage%)" style="width:$yespercentage%;background:green;display:inline-block;font-size:20%;" >&nbsp;</div>
    
</div> 
<div>
    <div title="#field('no')($nopercentage%)" style="width:$nopercentage%;background:red;display:inline-block;font-size:20%;">&nbsp;</div>
    
</div>

<div>
<span>Enthaltung: #field('abstention')</span> </div>
</div>


<div> 
$doc.getFieldValue('bb').replace('[','<').replace(']','>')

## #field('bb').replace('[','<').replace(']','>')
</div> 
## <div>Bezirk: #field('bezirk')</div>
## <div>Partei: #field('partei')</div>
## <div>Status: <span class="#field('status')">#field('status')</span></div>
## <div>ALLRis: <a href="#field('url')"> #field('url') </a></div>
#parse('debug.vm')

</div>
